.idea
config.yaml
devenv/docker-config.yaml
venv
.venv
instance
app/static/dist
app/static/vendor
app/static/.webassets-cache
app/logs
*.pem
.env
temp
node_modules
**/__pycache__
storage
data/
.coverage
docker/.claude
docker/.claude.json
